/*
Variables
Desktop - General 
Desktop - Search 	 
   Main search 	 
   Secondary search 	 
   Filters and lists 
Desktop - Cards 
Desktop - Utility classes
Media Queries 
*/


/* Variables */
:root {
    --primary-color: #D04F4F;
    --ingredient-color: #3282F7;
    --appliance-color: #68D9A4;
    --ustensil-color: #ED6454;
    --black: #000000;
    --white: #FFFFFF;
    --grey: #E7E7E7;

    --lato: 'Lato', sans-serif;
    --dm-sans: 'DM Sans', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

/* Desktop - General */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--lato);
    overflow-x: hidden;
}

header {
    margin: 2rem auto;
}

header h1 {
    font-family: var(--dm-sans);
    color: var(--primary-color);
}

header img {
    margin: auto;
    width: 3rem;
}

main {
    width: 100%;
    padding: 0 13%;
}

/* Desktop - Search */

/* Main search */

#main-search {
    width: 100%;
    background: var(--grey);
    color: var(--black);
    padding-right: 4rem;
}

.top-search {
    position: relative;
    margin-bottom: 1rem;
}

.top-search::after {
    content: "";
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 33px;
    height: 33px;
    background: url("../assets/Mglass.png");
}


input {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    color: var(--white);
    width: 150px;
    height: 70px;
    transition: width 0.4s ease-in-out;
}

/* Secondary search */

#secondary-search {
    display: flex;
    color: var(--white);
}

.secondary-search-wrapper {
    position: relative;
}

.secondary-search-wrapper > * {
    margin-right: 1.4rem;
}

.secondary-search-wrapper::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 16px;
    background: url("../assets/Arrow.png");
    top:50%;
    right: 2.4rem;
    transform: translateY(-50%);
    transition: transform 0.4s ease-in-out;
}

.secondary-search-wrapper.input:focus .secondary-search-wrapper::after  {
    transform: rotate(180deg);
}

.secondary-search-wrapper label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

/* Filters and lists */
#filters a {
    display: inline-block;
    padding: 1em;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white);
}

#filters a:hover {
    color: var(--black);
}

.search-box {
    position: relative;
}

.search-list {
    position: absolute;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(140px , 1fr) );
    max-height: 390px;
    overflow-y: auto;
    scrollbar-width: thin;
    width: min(450px,100%);
    z-index: 1;
    transform: translateY(-10px);
    transition: width 0.4s ease-in-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-list li {    
    display: flex;
}

.search-list a {
    width: 150px;
    padding: 1em;
    cursor: pointer;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-list a:hover {
    background-color: rgba(0,0,0,0.2);
}

.ingredients input,
.ingredients ul,
.ig-tag {
    background: var(--ingredient-color);
}

.appliances input,
.appliances ul,
.ap-tag {
    background: var(--appliance-color);
}

.ustensils input,
.ustensils ul,
.us-tag {
    background: var(--ustensil-color);
}


/* Desktop - Cards */

.meal-cards-gallery {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(320px , 1fr) );
    gap: 50px;
    margin: 2rem 0;
}

.meal-card {
    background: var(--grey);
    border-radius: 5px;
    max-height: 380px;
    overflow: hidden;
}

.meal-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-bottom {
    padding: 1rem;
}

.meal-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 12px;
}

.meal-time {
    position: relative;
    min-width: 80px;
    text-align: right;
}

.meal-time::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: url("../assets/Clock.png");
    background-size: cover;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

.meal-title {
    font-size: 18px;
    font-weight: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 55px;
    max-width: 220px;
    overflow: hidden;
}

.meal-bottom {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 150px;
}

.meal-bottom > * {
    width: 45%;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    height: 110px;
}

.meal-recipe {
    font-family: var(--roboto);
}

/* Desktop - Utility classes*/

.bold {
    font-weight: bold;
}

.rotate-pseudo::after {
    transform: rotate(180deg) translateY(50%);
}

.hidden {
    display: none;
}

.hide-search {
    visibility: hidden;
}

.remove-tag {
    display: inline-block;
    width: 20px;
    margin-left: 10px;
    transform: translateY(3px);
    pointer-events: none;
}

.secondary-input__focus {
    width: 450px;
}

/* Media Queries */

@media screen and (max-width:1080px) {
    /* Tablet - Search */
    
    .search-list { 
        width: min(300px,100%);
    }

    /*Tablet - Utility Classes */

    .secondary-input__focus {
        width: 300px;
    }
}

@media screen and (max-width:768px) {

    /* Mobile - General */

    main {
        padding: 0 2%;
        max-width: 500px;
    }

    input {
        height: unset;
        width: 100%;
    }

    /* Mobile - Search*/

    #secondary-search {
        display: block;
    }

    .secondary-search-wrapper {
        width: 100%;
    }

    .secondary-search-wrapper > * {
        margin-right: 0;
    }

    .search-box {
        display: flex;
        margin-bottom: 1rem;
    }

    #filters a {
        padding: 0.5em;
    }

    .search-list { 
        grid-template-columns: repeat( auto-fill, minmax(120px , 1fr) );
        width: 100%;
        transform: translateY(50px);
        transition: max-height 0.4s ease-in-out;
        font-size: 14px;
    }

    .search-list a {
        width: 150px;
        padding: 0.5em;
    }

    /* Mobile - Cards */

    .meal-cards-gallery {
        grid-template-columns: repeat( auto-fill, minmax(300px , 1fr) );
        gap: 20px;
    }

    /* Mobile - Utility Classes */

    .secondary-input__focus {
        width: 100%;
    }

    .hide-search {
        max-height: 0px;
    }
}